/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

/*font-family: "fira-sans-2",sans-serif;
font-style: normal;
font-weight: 400;*/

.jumbotron {
  padding:100px 0 130px 0;
  z-index:900;
}

.navbar-right {
    margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
    cursor: pointer;
}

.content {
  position: right;
  padding-top: 100px;
  /*padding-right: 1400px;*/
  max-width: 300px;
  text-align: left;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content li {
  list-style-type: none;
}

/*.btn-link {
  background-color: #000;
  color: #fff;
}*/

#nav {
/*   background:transparent;*/
   background-color: #fbae17;
/*   background-color: rbga(98, 68, 9, .975);*/
   background-image: url("/img/stripe.png");
   /*min-height: 2.94118rem;
   line-height: 83.92157%;*/
 /*  border-bottom: 1px solid rgba(0,0,0,.160);*/
  /* background: rbga(238, 128, 18, .975);*/
   z-index: 99;
   transition: transform .11s ease-out,background .5s ease-out;
   /*position: fixed;*/
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   height: 50px;
   border: 0px;
}

#splashinfo {
  margin-top: 
}

/*
#splashtext {
  margin-top: -400px;
  z-index: 1000;
  position: absolute;
}*/

.navbar {
  margin:0;
  border-radius: 0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}

.ui-datepicker {
  background: #231e1e;
}

.calendar-icon {
  width: 2.2em;
  border: 2px solid black;
  border-top: 10px solid black;
  background: white;
  font-family: 'acta-poster';
  font-style: italic;
  font-style: bold;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  line-height: 3rem;
  float: right;
  color: black;
  z-index: 100;
}

.ion-ios-location {
  float: left;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1.618rem;
}



h1 {
  /*font-weight: bold;*/
/*  letter-spacing: -2px;*/
  max-width: 200px;
  color: black;
  font-family: "acta-poster";
  font-style: italic;
}

h3 {
  font-weight: bold;
  letter-spacing: -2px;
  max-width: 300px;
  color: white;
}

h4 {
  font-family: "acta-poster";
  font-style: italic;
 /* letter-spacing: -2px;*/
  max-width: 200px;
  color: white;
}

h5 {
  max-width: 500px;
  color: black;
  font-family: "acta-poster";
  font-style: italic;
  font-size: 50px;
}

h6 {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
}



.page        {
    bottom:0; 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
}

.form-group {
	color: black;
}

.form-group-update {
  color: white;
}
.form-control {
	color: grey;
}

.container {
  margin-top: 50px;
}

.profilecard {
  background: #231e1e;
  border-color: black;
  color: white;
  padding: 1rem;
  min-height: 2rem;
  position: relative;
  cursor: pointer;
}
.card {
  /*background: #231e1e;*/
  background: linear-gradient(120deg, #000, #231e1e);
  border-color: black;
  color: white;
  padding: 1rem;
  min-height: 16rem;
  position: relative;
  cursor: pointer;
}


.commentdisplay {
  background: #231e1e;
  border-color: black;
  color: white;
  padding: 1rem;
  min-height: auto;
  position: relative;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: silver;
  font-size: 0.6rem;
}

footer .heart {
  color:#cf2e31;
}

.custom-icon {
  font-size: 20px;
 /* color : #cf2e31;*/
  color: white;
}


.card {
  /* ... */
  transition: all 300ms ease-in-out;
}

.card .btn {
     -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .btn {
  box-shadow: inset 0 100px 0 0 #31302B;
    color: #FFF;
 
}

.card:active {
  box-shadow: inset 0 5000px 0 0 #31302B;
    color: #FFF;
}

.card .form-control {
   -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .form-control:focus {
  margin-bottom: 20px;
}

.card-img-top {
  width: 100px;
}

/*.ng-scope {
     background-image: url("/img/flamingopink.jpg");
}
*/
#createEventButton {
    max-width: 200px;
    color: black;
    font-size: 15px;
    font-family: "acta-poster";
    font-style: italic;
    background: transparent;
    border:0;
/*    text-decoration: underline;*/
   /* border: none !important;*/
}​

#rsvpEventButton {
    max-width: 200px;
    color: white;
    font-size: 15px;
    font-family: "acta-poster";
    font-style: italic;
    background: transparent;
    border:0;
/*    text-decoration: underline;*/
   /* border: none !important;*/
}​

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
