<div class="container">

	<div class='col-sm-6 col-md-6 col-lg-4'>
      <div class="card">
          <button type="button" class="close" ng-click="backButton()" aria-label="Close">
          <span aria-hidden="true"><i class='icon ion-arrow-return-left custom-icon'></i></span>
          </button>
              <h4>{{event.title}}</h4>
              <p>{{event.description}}</p>
              <p>{{event.location.formatted_address}}</p>
              <p>{{event.date | date: 'MMMM d'}}</p>

        
              <div class="text-right">
          <i class='icon ion-edit custom-icon' class="pull-left" ng-click="editEventButton()" aria-label="Close">
          <span aria-hidden="true"></i></span>

          <i class='ion-plus-circled custom-icon' class="pull-right" ng-click="addRsvp(event)" aria-label="Close">
          <span aria-hidden="true"></i></span>
<!-- 

          <i class='ion-chatbubbles custom-icon' class="pull-right" ng-click="rsvpShowButton()" aria-label="Close">
          <span aria-hidden="true"></i></span> -->
  
              </div>
      </div>
  </div>

              <div class="col-sm-6" ng-show="EventEdit">
                <ng-include src="'templates/EventEdit'"></ng-include>
              </div> 

              <div class="col-sm-4" ng-repeat="rsvp in event.rsvps">
                  <div class="card">
                    <h4 class='pull-left'>{{rsvp.username}}</h4>
                

                    <form ng-submit="createComment(rsvp)">
                     <input class='form-control' type="text" ng-model="rsvp.comment" placeholder="Comment" autofocus>
                        <div class="text-right">
                          <button type="submit" class="btn btn-link">Submit</button>
                        </div>
                        </form>
                  </div>
                    <div class="commentdisplay">
                      <p>{{rsvp.comment}}</p>
                    </div>
              </div> 

</div>

<!-- {{event.rsvps}} -->



<!-- 
 <div class="container" ng-controller="NewListCtrl">
            <button ng-click="editEventButton()" id="createEventButton" class="pull-left">Create an Event</button>
              <div class="col-sm-9" ng-show="newEventForm">
                <ng-include src="'templates/newEventForm'"></ng-include>
              </div> 
          </div> -->