<div class="container" ng-controller="EventListCtrl">
	<div class='col-sm-6 col-md-6 col-lg-4'>
            <div class="card">
            <button type="button" class="close" ng-click="backButton()" aria-label="Close">
        <span aria-hidden="true"><i class='icon ion-arrow-return-left custom-icon'></i></span>
      </button>
              <h4>{{event.title}}</h4>
              <p>{{event.description}}</p>
              <p>{{event.location.formatted_address}}</p>
              <p>{{event.date | date: 'MMMM d'}}</p>
              <p>{{event.location.url}}</p>
            </div>
     </div>
</div>