

<div class="container">
  <div class="row">
    <div class="col-md-2" id="profiletab"><br/>
      <div class="profilecard">
        <!-- <img class="card-img-top img-circle center-block" src="http://placehold.it/100x100" alt="http://placehold.it/100x100"> -->
        <div class="card-block">
       
          <h4 class="card-title text-center">{{user.username}}</h4>
          
         <!--  <p class="card-text text-center">{{user.email}}</p> -->

        </div>
      </div>
    </div>

    
      <div class="col-md-10">
        <div class="page-header">
       <!--    <ng-include src="'templates/newEvent'"></ng-include> -->
          <div class="container" ng-controller="NewEventCtrl">
            <button ng-click="createEventButton()" id="createEventButton" class="pull-left">Create an Event</button>
              <div class="col-sm-9" ng-show="newEventForm">
                <ng-include src="'templates/newEventForm'"></ng-include>
              </div> 
          </div>
            <h1>Events</h1>
               <div ng-controller="EventListCtrl" class='col-sm-12 col-md-4 col-lg-4'  ng-repeat="event in myEvents | orderBy:'date'" ng-click="eventShow(event)">
                <div class="card">
                  <div class="calendar-icon">{{event.date | date: 'dd'}}</div>
                  <h4>{{event.title}}</h4>
                  <p>{{event.description}}</p>
                  <p>{{event.location.formatted_address}}</p>
                  <p>{{event.date | date: 'MMMM d'}}</p>

                </div>
                <br/>
              </div>
        </div>
      </div>

    </div>
  
</div>


