

<div class="container">
  <div class="row">
    <div class="col-sm-3"><br/>
      <h4>{{user.username}}</h4>
    </div>
    <div class="col-sm-9">
      <div class="page-header">
        <ng-include src="'templates/newEvent'"></ng-include>
        <h1>Events</h1>
        <ng-include src="'templates/showEvent'"></ng-include>
      </div>
    </div>
  </div>
</div>



     <!--  <div class="page-header">
        <h1>Events</h1>
          <div class="card">
            <h3 class='pull-left'>Create an Event</h3>
            <form ng-submit="createEvent()">
              <div class='form-group'>
                <input class='form-control' type="text" ng-model="event.title" placeholder="Event Name" required autofocus>
                <input class='form-control' type="text" ng-model="event.location" placeholder="Location" required autofocus>
                <input class="form-control" type="text" id="datepicker" ng-model="event.date" placeholder="Date" autofocus> 
              
                <div class="text-right">
                  <button class='btn btn-default' type="submit">Create</button>
                </div>
            </form>
          </div>
          <br> 




          <div class='col-sm-6 col-md-6 col-lg-4'  ng-repeat="event in events">
            <div class="card">
              <h1>{{event.title}}</h1>
              <h1>{{event.location}}</h1>
              <h1>{{event.date}}</h1>
              <a href="#" class='pull-right' ng-click="deleteEvent(event, $index)">
              <i class='icon ion-close-circled custom-icon'></i>
              </a>
            </div>
          </div>
    </div>
      </div>
    </div> -->
