<!-- <div class="jumbotron">  -->
    
<div class="video">
    <video autoplay loop id="bgvid">
    <source src="/img/places.mp4" type="video/webm">
    <source src="/img/places.mp4" type="video/mp4">
    </video>
</div>
      
  <div class="content">
  <ul>
    <li><div class="card"><h4>Create Events</h4><p>Establish events with ease, manage multiple events in an organized manner</p></div></li>
    <br/>
    <li><div class="card"><h4>RSVP</h4><p>RSVP to created events & invite your flock, send out links to RSVP</p></div></li>
    <br/>
    <li><div class="card"><h4>Stay Updated</h4><p>Stay relevant, peck away, view all messages with a single glance</p></div></li>
    
  </ul>
  

</div>
  </nav>
  <div class="container text-center" id="splashtext">
    <!-- <h1>Track Your Flocks</h1> -->
    <div class="lead">Create Your Peckbox</div>
    <div class="btn-toolbar"><a data-toggle="modal" data-target="#login-modal" class="btn btn-link"><h4>Get Started</h4></a></div>
  </div>
</div>

<!-- </div>