<div class="jumbotron">
  <div class="container text-center">
    <h1>BE</h1>
    <div class="lead">BoxEvent</div>
    <div class="btn-toolbar"><a data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-info">Get Started</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4"><div class="card"><h3>Powered by Angular</h3></div></div>
    <div class="col-sm-4"><div class="card"><h3>Powered by MongoDB</h3></div></div>
    <div class="col-sm-4"><div class="card"><h3>And Bootstrap can come too...</h3></div></div>
  </div>
</div>