<div class="jumbotron"> 
               <!--  <video autoplay loop poster="//api.twistage.com/videos/384ea219d7782/formats/mp4_720/play.mp4" id="bgvid">
                <source src="//api.twistage.com/videos/384ea219d7782/formats/mp4_720/play.mp4" type="video/webm">
                <source src="//api.twistage.com/videos/384ea219d7782/formats/mp4_720/play.mp4" type="video/mp4">
                </video> -->
             <!--    <video autoplay loop poster="/img/places.mp4" class="fullscreen-bg">
                <source src="/img/places.mp4" type="video/webm">
                <source src="/img/places.mp4" type="video/mp4">
                </video> -->

                <video autoplay loop id="bgvid">
                 <source src="/img/places.mp4" type="video/webm">
                 <source src="/img/places.mp4" type="video/mp4">
                </video>
  <div class="container text-center" id="splashtext">
    <h1>Track Your Flocks</h1>
    <div class="lead">Create Your Peckbox</div>
    <div class="btn-toolbar"><a data-toggle="modal" data-target="#login-modal" class="btn btn-link">Get Started</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4"><div class="card"><h4>Create Event</h4></div></div>
    <div class="col-sm-4"><div class="card"><h4>RSVP</h4></div></div>
    <div class="col-sm-4"><div class="card"><h4>Stay Updated</h4></div></div>
  </div>
</div>